<h1 class="display-3">Contact</h1>
<h1 class="display-4">Ingrese sus datos:</h1>



<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Nombre</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ejemplo: Daniel Guzman">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Correo electronico</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ejemplo: djguzman1@miuandes.cl">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Mensaje</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ejemplo: Me encanta esta pagina">
  </div>
</form>


<h4> boton para enviar formulario <h4>

<h4> gracias por su mensaje nos comunicaremos con usted pronto <h4>